/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: rgb(255, 176, 102);
}

/* Header con Flexbox */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(230, 120, 50);
  color: aliceblue;
  padding: 10px 20px;
  width: 100%;
  height: 80px;
  border-bottom: solid rgba(0, 0, 0, 0.8);
  border-width: 1.5px;
  position: fixed;  /*Para que el nav no se me mueva*/
}

.luckiest-guy-regular {
  border-color: #000;
  font-family: "Luckiest Guy", cursive;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 2;
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: #fff;
}

li {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  background: rgb(175, 70, 50);
  color: #fff;
  padding: 1px 3px;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.3s;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: #fff;
  text-decoration: none;

}

li:hover {
  background: rgb(195, 97, 77);
}

.banner {
  background-image: url(/imagenes/banner-hamburguesa.jpg);
  background-size: contain;
  background-position: center;
  height: 250px;
}


.section1{
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  min-height: 60px;
  padding: 40px;
}

.section1-coment {
  background: rgba(0, 0, 0, 0.5);
  padding: 60px;
  border-radius: 10px;
  margin: 50px;
}

.section1 h2 {
  padding-top: 20px;
  font-size: 40px;
  margin-bottom: 20px;
}

.section1 p {
  margin-bottom: 30px;
}

.section1-btn {
  display: inline-block;
  background: #e63946;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.section1-btn:hover {
  background: #d62839;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 38px;
}
/* .menu-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

.menu-item {
  background: #000000;
  border: 3px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}

.menu-item img {
  width: 100%;
  height: auto;
}

.menu-item h3 {
  color: #fff;
  margin: 15px 0 5px;
}

.menu-item p {
  font-size: 14px;
  color: #ffffff;
  margin: 0 10px 10px;
}

.menu-item span {
  display: block;
  margin: 10px;
  font-weight: bold;
  color: #e63946;
}

/* Footer */
.contacto {
  background: #222;
  color: #fff;
  padding: 40px 20px;
  text-align: left;
}

.contacto h2 {
  margin-bottom: 10px;
}

.divisor {
  width: 50%;             /* Ajustás el largo */
  height: 2px;            /* Grosor de la línea */
  background-color: #ccc; /* Color */
  margin-bottom: 70px;      /* Centrada */
  border-radius: 2px;     /* Opcional */
}

footer {
  background: #222;
  color: #fff;
  text-align: left;
  padding: 15px;
  font-size: 14px;
}

@media(max-width: 480px){
  .luckiest-guy-regular{
    font-size: 15px;
  }
  li{
    font-size: 15px;
  }
  nav ul{
    gap: 10px;
  }
}