/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: rgb(255, 176, 102);
}

/* Header con Flexbox */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;  /*Para que el nav no se me mueva*/
  width: 100%;
  height: 80px;
  background: rgb(230, 120, 50);
  color: #fff;
  padding: 10px 20px;
  border-bottom: solid black;
  border-width: 1.5px;
}

.luckiest-guy-regular {
  border-color: #000;
  font-family: "Luckiest Guy", cursive;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 2;
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: #fff;
}

.inicio1, .menu2, .contacto3 {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  background: #ec3d4b;
  color: #fff;
  padding: 2px 4px;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.3s;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  -webkit-text-stroke: 0.7px #000;
  -webkit-text-fill-color: #fff;
  text-decoration: none;

}

li:hover {
  background: #d62839;
}


/* Hero */
.hero {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 50px;
}

.hero-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 35px;
  border-radius: 10px;
  margin: 50px;
}

.hero h2 {
  padding-top: 60px;
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #e63946;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background: #d62839;
}

/* Menú con Grid */
.menu {
  padding: 40px 20px;
  text-align: center;
}

.menu h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 38px;
}

.menu-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.menu-item img {
  width: 100%;
  height: auto;
}

.menu-item h3 {
  margin: 15px 0 5px;
}

.menu-item p {
  font-size: 14px;
  color: #555;
  margin: 0 10px 10px;
}

.menu-item span {
  display: block;
  margin: 10px;
  font-weight: bold;
  color: #e63946;
}

/* Contacto */
.contacto {
  background: #f8f9fa;
  padding: 40px 20px;
  text-align: center;
}

.contacto h2 {
  margin-bottom: 15px;
}

/* Footer */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
